 # Data files
*.csv
*.parquet
*.xls
*.xlsx
*.db
*.sqlite

# Model files
*.pkl
*.pickle
*.h5
*.joblib

# Python cache and environment folders
__pycache__/
*.pyc
venv/
.venv/
env/
.env/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store


# common junk
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
.DS_Store


# ignore notebook checkpoints
**/.ipynb_checkpoints/

# Ignore all data by default
sfb-risk-lab/data/**

# Keep placeholders and docs
!sfb-risk-lab/data/.gitkeep
!sfb-risk-lab/data/README.md
!sfb-risk-lab/data/schema.yaml

# Keep synthetic sample dataset
!sfb-risk-lab/data/synthetic/
!sfb-risk-lab/data/synthetic/**
