 # Data files
*.csv
*.parquet
*.xls
*.xlsx
*.db
*.sqlite

# Model files
*.pkl
*.pickle
*.h5
*.joblib

# Python cache and environment folders
__pycache__/
*.pyc
venv/
.venv/
env/
.env/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store


# keep folders, ignore contents
sfb-risk-lab/data/*
!sfb-risk-lab/data/.gitkeep

# common junk
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
.DS_Store
